[submodule "scad/common"]
	path = scad/common
	url = https://git.sixteenmillimeter.com/modules/common.git
[submodule "scad/sprocketed_roller"]
	path = scad/sprocketed_roller
	url = https://git.sixteenmillimeter.com/modules/sprocketed_roller.git
