input[type=checkbox] {
	outline: none;
}

footer{
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
}

#log{
	position: fixed;
	width: 100%;
	height: 150px;
}

.screen{
	display: none;
}

#colors-tabs{
	width: 411px;
}
#colors-content{
	width: 411px;
    float: left;
}
.mcopy-light{
	background: #000;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}
#light-status{
	width: 388px;
	float: right;
	>div{
		position: relative;
    	clear: both;
    	&:after{
    		content: "";
    		display: block;
    	}
	}
	form{
		float: left;
		line-height: 30px;
		width: 40%;
		span{
			width: 20px;
			margin-left: 40px;
			display: inline-block;
		}
		input[type=text]{
			width: 40px;
		}
	}
}
#preview{
	margin-top: 40px;
}
#rgb{
	border: 0;
    border-radius: 0;
	width: 411px;
	font-size: 12px;
    text-align: center;
}
#color{
	width: 100px;
	height: 100px;
	margin: 0 50px;
	background-color: #000;
	float: right;
}

.cp-app{
	position: relative !important;
	border-radius: 0px !important;
	top: 0px !important;
	.cp-memo{
		bottom: 2px !important;
	}
}