@BG: rgb(50, 43, 47);
@COMMON: #fff;

@FORWARD: #00C4A0;
@BACKWARD: #AB1A25;
@SELECTED: #DAE035;

@SEQ: #3C3636;
@SCRIPT: rgb(39, 40, 34);

.monospace () {
	font-family: monospace;
}

.button (@color: @COMMON) {
	display: block;
	border-radius: 5px;
	border: 2px solid @color;
	text-align: center;
	background: transparent;
	color: @color;
	padding: 8px 0;
	font-size: 12px;
	font-weight: 400;
	span{
		display: block;
		font-size: 16px;
		font-weight: 200;
	}
	&:active,.active{
		background: @color;
		color: @BG;
		outline: none;
	}
	&:focus{
		outline: none;
	}
}

html, body{
	-webkit-overflow-scrolling: auto;
	overflow-x: hidden;
}

input {
	&:focus{
		outline: none !important;
	}
}

footer{
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
}

#log{
	position: fixed;
	width: 100%;
	height: 150px;
}

#screens{
	overflow-x: hidden;
}

.screen{
	display: none;
}

#colors-tabs{
	width: 411px;
}
#colors-content{
	width: 411px;
    float: left;
}
.mcopy-light{
	background: #000;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}
#light-status{
	width: 388px;
	float: right;
	>div{
		position: relative;
    	clear: both;
    	&:after{
    		content: "";
    		display: block;
    	}
	}
	form{
		float: left;
		line-height: 30px;
		width: 40%;
		span{
			width: 20px;
			margin-left: 40px;
			display: inline-block;
		}
		input[type=text]{
			width: 40px;
		}
	}
}
#preview{
	margin-top: 40px;
}
#rgb{
	border: 0;
    border-radius: 0;
	width: 411px;
	font-size: 12px;
    text-align: center;
}
#color{
	width: 100px;
	height: 100px;
	margin: 0 50px;
	background-color: #000;
	float: right;
}

#counters{
	.cam,.proj{
		width: 50%;
		padding-bottom: 25px;
		label{
			text-align: center;
			font-size: 24px;
			display: block;
		}
		input{
			background: rgba(255, 255, 255, 0.05);
			color: @COMMON;
			padding: 6px 12px;
			font-size: 21px;
			display: block;
			margin: 0 auto;
			text-align: center;
			.monospace();
			&.changed{
				color: @SELECTED;
			}
		}
	}
	.cam{
		float: left;
	}
	.proj{
		float: right;
	}
}
#seq_scroll{
	width: 100%;
	overflow-x: scroll;
	>div>div>div{
		float: left;
		input{
			float: none;
		}
		>div{
			font-size: 8px;
			text-align: center;
			
			color: rgb(220, 220, 220);
		}
	}
}
#actions{
	padding: 20px 0 0 55px;
}
#seq_stats{
	width: 40%;
	float: right;
	padding: 20px;
	margin-top: 57px;
	span{
		font-weight: 600;
		float: right;
	}
	.timing{
	}
}
#seq_loop{
	padding: 0 28px;
	input{
		.monospace();
		font-size: 23px;
		width: 121px;
		padding: 12px;
	}
}
button{
	.button();
	display: inline-block;
	padding: 4px 16px;
	font-size: 14px;
}

#sequencer{

}
#sequence{
	width: 970px;
	padding-bottom: 25px;
	padding-left: 70px;
	height: 230px;
	#cam_forward,
	#proj_forward,
	#black_forward{
		clear: both;
		input[type=checkbox]{
			border: 1px solid @FORWARD;
			margin-right: 3px;
			&:checked{
				background: @FORWARD;
				//background: radial-gradient(circle at 25px 25px, #00C4A0, #343434);
			}
		}
		>div{
			color: @FORWARD;
		}
	}
	#cam_backward,
	#proj_backward,
	#black_backward{
		clear: both;
		input[type=checkbox]{
			border: 1px solid @BACKWARD;
			margin-right: 3px;
			&:checked{
				background: @BACKWARD;
				//background: radial-gradient(circle at 25px 25px, #AB1A25, #343434);
			}
		}
		>div{
			color: @BACKWARD;
		}
	}
	#cam_backward{
		margin-top: 15px;
	}
	input[type=checkbox]{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		outline: none;
		display: block;
		width: 35px;
		height: 35px;
		border-radius: 5px;
		margin: 0;
		margin-bottom: 3px;
		float: left;
		box-sizing: border-box;
	}
	input.h{
		//background: @SELECTED !important;
		border-color: @SELECTED !important;
		&:checked{
			background: @SELECTED !important;
		}
	}
	#numbers{
		clear: both;
		> div{
			width: 35px;
			color: @COMMON;
			font-family: monospace;
			float: left;
			margin: 3px;
			text-align: center;
			opacity: 0.5;
		}
	}
}

.cp-app{
	position: relative !important;
	border-radius: 0px !important;
	top: 0px !important;
	.cp-memo{
		bottom: 2px !important;
	}
}