@import "./variables.less";
@import "./mixins.less";

@import "./core.less";
@import "./light.less";
@import "./seq.less";
@import "./cmd.less";
@import "./scroll.less";

#log{
	position: fixed;
	width: 100%;
	height: @FOOTER_H;
}

#screens{
	overflow-x: hidden;
}

.screen{
	display: none;
}

#w2ui-popup{
	.swatch{
		cursor: pointer;
		width: 50px;
		height: 50px;
		display: inline-block;
		margin: 3px;
		box-sizing: border-box;
		border: 1px solid #fff;
		&.default{
			border-color: #9ecaed;
    		box-shadow: 0 0 10px #9ecaed;
		}
	}
	#new-swatch{
		display: none;
	}
}
#preview-wrap{
	margin-top: 140px;
	h4{
		display: inline-block;
		margin: 0;
		margin-left: 123px;
		margin-right: 10px;
		width: 81px;
		height: 30px;
		span{
			display: block;
			margin-top: 6px;
			position: absolute;
		}
	}
}
#preview{
	//margin-top: 40px;
}
#rgb{
	border: 0;
    border-radius: 0;
	width: 411px;
	font-size: 12px;
    text-align: center;
}
#color{
	width: 100px;
	height: 100px;
	margin: 0 50px;
	background-color: #000;
	float: right;
}

#counters, #counters_2{
	.cam,.proj{
		width: 50%;
		padding-bottom: 25px;
		label{
			text-align: center;
			font-size: 24px;
			display: block;
		}
		input{
			background: @INPUT_BG;
			color: @COMMON;
			padding: 6px 12px;
			font-size: 21px;
			display: block;
			margin: 0 auto;
			text-align: center;
			.monospace();
			&.changed{
				color: @SELECTED;
			}
		}
	}
	.cam{
		float: left;
	}
	.proj{
		float: right;
	}
}

#overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	//z-index: 1200;
}

.cp-app{
	position: relative !important;
	border-radius: 0px !important;
	top: 0px !important;
	.cp-memo{
		bottom: 2px !important;
	}
}

.cm-s-monokai.CodeMirror{
	background: @BG !important;
}
.cm-s-monokai .CodeMirror-gutters {
	background: @BG + rgb(15, 15, 15) !important;
}