.cm-s-monokai.CodeMirror{
	background: @BG !important;
}
.cm-s-monokai .CodeMirror-gutters {
	background: @BG + rgb(15, 15, 15) !important;
}

#mscript_cmd{
	margin: 7px 0 0 10px;
	button{
		font-size: 12px;
    	padding: 6px 14px 4px;
	}
}