#settings{
	h4{
		margin-bottom: 1px;
	}
	> div{
		width: 300px;
		&.left{
			float: left;
			padding-left: 30px;
		}
		&.right{
			float: right;
			padding-right: 30px;
			input[type=number] {
				min-width: 200px;
				width: 200px;
			}
			.spacer{
				height: 62px;
			}
			.proj_time{
				height: 111px;
			}
			.cam_time{
				height: 111px;
			}
		}
	}
	> div > div{
		width: 360px;
	}
	input[type=text],
	input[type=number], 
	select{
		.button();
		display: inline-block;
		padding: 6px 12px;
		font-size: 21px;
		min-width: 300px;
		&.active{
			border-color: @SELECTED;
			color: @SELECTED;
		}
	}
	input[type=text]{
		width: 200px;
	}
	button{
		margin-top: -1px;
    	float: right;
	}
	input[type=radio]{
		float: right;
		margin-right: 20px;
	}
	.spacer{
		margin-top: 10px;
	}
	#version{
		position: absolute;
		right: 20px;
		bottom: 10px;
		z-index: 1000;
		height: 14px;
		width: auto;
		font-size: 14px;
		line-height: 14px;
		color: #999;
	}
}